## Split

In [2]:
str = "My name is Shashank"
li = str.split()
print(li)

['My', 'name', 'is', 'Shashank']

Usage of delimiter

In [4]:
st = "My, name, is, Shashank"
li = st.split(',')
print(li)

['My', ' name', ' is', ' Shashank']

## Replace

In [8]:
str = str.replace("Shashank", "Rohan")
print(str)

My name is Rohan

In [11]:
a = "My name is Shashank Shashank Shashank Shashank"
a = a.replace("Shashank", "Ash")
print(a)

My name is Ash Ash Ash Ash

Replacing only 2 Shashank's instead of all

In [12]:
b = "My name is Shashank Shashank Shashank Shashank"
b = b.replace("Shashank", "Ash", 2)
print(b)

My name is Ash Ash Shashank Shashank

## Find

In [13]:
s = "My name is Shashank"
index = s.find("Sha")
print(index)

11

Printing of -1

In [14]:
ind = s.find('z')
print(ind)

-1

## Lower and Upper

In [15]:
x = "Shashank Dances"
x = x.lower()
print(x)
x = x.upper()
print(x)

shashank dances
SHASHANK DANCES

## startswith

In [17]:
ans = str.startswith("My na")
print(ans)
ans = str.startswith("Sha", 11, 20)
print(ans)

True
False

In [19]:
s = "abcd"
print(s+12)

TypeError: can only concatenate str (not "int") to str